.container
  .row
    %h1 Voided Applications

    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Edit
      %tbody
        - @voided_applications.each do |client|
          %tr
            %td= client.name
            %td= link_to 'Edit', edit_client_path(client)
    %br
