- disabled ||= false
.col-sm-8.offset-md-2
  .form-group.row
    = f.label "First Name", class: "col-sm-2 col-form-label"
    .col-sm-10= f.text_field :first_name, class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Last Name", class: "col-sm-2 col-form-label"
    .col-sm-10= f.text_field :last_name, class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Gender", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :gender, class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Weight (lb)", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :weight, class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Age", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :age, class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Height (ft)", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :height, class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Application Date:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.date_field :application_date, value: @client.application_date && @client.application_date.strftime("%Y-%m-%d"), class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Agency:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.select :agency_id, Agency.order(:name).collect {|b| [ b.name, b.id ] }, {include_blank: 'None'}, class: "form-select", disabled: disabled
  .form-group.row
    = f.label "Type of Bike Requested:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.select :bike_type_requested, Bike::BIKE_TYPES.map{|t| [t, t]}, {include_blank: "No Preference"}, class: "form-select", disabled: disabled
  .form-group.row
    = f.label "Will Pay 25$ for Lock & Helmet:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.check_box :will_pay, disabled: disabled
  .form-group.row
    = f.label "Helmet", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.check_box :helmet, disabled: disabled
  .form-group.row
    = f.label "Lock", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.check_box :lock, disabled: disabled
  .form-group.row
    = f.label "Bike:", class: "col-sm-2 col-form-label"
    .col-sm-10
      - if @client.bike_id
        = f.select :bike_id, options_for_select( Bike.available_for_freecyclery.collect{|b| [ b.name, b.id ]} + [[@client.bike.name, @client.bike_id]], @client.bike_id ), {include_blank: 'None'}, class: "form-select", disabled: disabled
      - else
        = f.select :bike_id, options_for_select( Bike.available_for_freecyclery.collect{|b| [ b.name, b.id ]}, @client.bike_id ), {include_blank: 'None'}, class: "form-select", disabled: disabled
  .form-group.row
    = f.label "Notes:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_area :notes, class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Bike Fixed:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.check_box :bike_fixed, disabled: disabled
  .form-group.row
    = f.label "Bike Assigned On:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :assigned_bike_at, value: @client.assigned_bike_at && @client.assigned_bike_at.strftime('%m/%d/%Y') || "N/A", disabled: true
  .form-group.row
    = f.label "Bike Picked Up On:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.date_field :pickup_date, value: @client.pickup_date && @client.pickup_date.strftime('%Y-%m-%d'), class: "form-control", disabled: disabled
  .form-group.row
    = f.label "Volunteer Present at Pickup:", class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :volunteer_at_pickup, class: "form-control", disabled: disabled
  %br
  .form-group.row
    .col-sm-8
    = f.label "Application Voided:", class: "float-right col-sm-2 col-form-label"
    .col-sm-2
      = f.check_box :application_voided, disabled: disabled
