.col-6
  .receipt
    %h2= client.bike.name
    %br
      .horizontal-line
      .client-information
        %strong= "#{client.name}#{" - " + client.agency.name if client.agency}"
      .horizontal-line
      .receipt-body
        %p= "Includes Helmet" if client.helmet
        %p= "Includes Lock" if client.lock
        %p= "Owes $25" if client.will_pay
        %br
        %p Date ___________________
        %br
        %br
        _______________________________________
        %br
        Client Signature
        %br
        %br
        %br
        ____________   Recyclery Initials

.col-6
  .receipt
    %h2= client.bike.name
    %br
      .horizontal-line
      .client-information
        %strong= "#{client.name}#{" - " + client.agency.name if client.agency}"
      .horizontal-line
      .receipt-body
        %p= "Includes Helmet" if client.helmet
        %p= "Includes Lock" if client.lock
        %p= "Owes $25" if client.will_pay
        %br
        %p Date ___________________
        %br
        %br
        ______________________________________
        %br
        Client Signature
        %br
        %br
        ____________ Recyclery Initials
        %br
        %br
        %br
        _______________________________________
        %br
        Contact Email
        %br
        %br
        _________________________________ Contact Phone
        %br
        %br
        &#9634; Client grants The Recyclery Collective consent to use and publish photos.

