.container
  .row
    = link_to ' + New Client', new_client_path, class: "btn btn-lg btn-outline-dark"
  .row
    %h1 Client Waiting List
    %p The waiting list shows clients who have not been voided or picked up their bike. Only clients with an application date are shown.

    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Number
          %th First Name
          %th Last Name
          %th Height
          %th Application Date
          %th Agency
          %th Type Requested
          %th Bike
          %th
      %tbody
        - @waiting_list.each_with_index do |client, index|
          %tr
            %td= index + 1
            %td= client.first_name
            %td= client.last_name
            %td= client.height
            %td= client.application_date
            %td= client.agency.name if client.agency
            %td= client.bike_type_requested
            %td= client.bike_id ? Bike.find(client.bike_id).name : "None"
            %td= link_to 'Edit', edit_client_path(client)

    %br
  .row
    %h1 All Clients

    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Agency
          %th
      %tbody
        - @clients.each do |client|
          %tr
            %td= client.first_name
            %td= client.last_name
            %td= client.agency.name if client.agency
            %td= link_to 'Edit', edit_client_path(client)

    %br
