= form_with model: @bike, html: {class: 'form-horizontal'} do |f|
  - if @bike.errors.any?
    #error_explanation
      %h2= pluralize(@bike.errors.count, "error") + " prohibited this bike from being saved:"
      %ul
        - @bike.errors.full_messages.each do |msg|
          %li= msg
  = render 'fields', f: f

  .row
    .actions.col-sm-offset-8
      = f.submit value: "+ Log Another", class: "btn btn-default btn-outline-dark"
