.container
  .row
    .col-sm-6
      %h1 Edit bike
    .col-sm-3.col-sm-offset-3
      =button_to "Mark as sold", {action: "mark_as_sold", id: @bike.id}, method: :patch, class: "btn btn-default"
  = render 'edit_form'
  = link_to 'Show', @bike
  |
  = link_to 'Back', bikes_path
