.print-labels.container-fluid
  .row.gx-10
    - @bikes.each_with_index do |bike, index|
      .col-6.fix-height
        .print-label
          %h2
            %strong='$' + bike.price
            ='    ' + bike.brand + ' ' + bike.model
          %br
          .horizontal-line
          .bike-specs
            = "Color: " + bike.color
            %br
            = "Seat Tube Size: " + bike.seat_tube_size.to_s
            %br
            = "Top Tube Size: " + bike.top_tube_size.to_s
          .row
            .col-6.work-done
              .desc
                %strong Work Done:
                =simple_format(bike.work_done)
            .col-6.new-parts
              .desc
                %strong New Parts:
                =simple_format(bike.new_parts)
          .row
            .col-sm
              Log #:
              .log-number=bike.log_number.to_s
              %p= "Serial #: " + bike.serial_number
