.container.print-select
  - @bikes.each do |bike|
    .col-xs-6
      .print-label
        %h2
          %strong='$' + bike.price
          ='    ' + bike.name
        %br
        .horizontal-line
        .bike-specs
          = "Top Tube Size: " + bike.top_tube_size.to_s
          %br
          = "Seat Tube Size: " + bike.seat_tube_size.to_s
        .row
          .col-xs-6
            .desc
              .strong Work Done:
              =bike.notes
          .col-xs-6
            .desc
              .strong New Parts:
              =bike.tag_info
        .row
          .col-xs-9.col-xs-offset-3.small= "Log Number: " + bike.log_number.to_s
