.container.print-labels
  - @bikes.each do |bike|
    .col-xs-6.sale-label
      .print-label
        %h2
          %strong='$' + bike.price
          ='    ' + bike.brand + ' ' + bike.model
        %br
        .horizontal-line
        .bike-specs
          = "Color: " + bike.color
          %br
          = "Seat Tube Size: " + bike.seat_tube_size.to_s
          %br
          = "Top Tube Size: " + bike.top_tube_size.to_s
        .row
          .col-xs-6.work-done
            .desc
              %strong Work Done:
              =simple_format(bike.work_done)
          .col-xs-6.new-parts
            .desc
              %strong New Parts:
              =simple_format(bike.new_parts)
        .row
          .col-xs-12
            Log #:
            .log-number=bike.log_number.to_s
            =", Serial #: " + bike.serial_number
