.fix-height{
  height: 520px;
}
.print-labels{
  h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .log-number{
    font-size:2rem;
    font-weight: bold;
    display: inline;
  }

  .print-label{
    page-break-inside: avoid;
    text-align: center;
    border: 5px solid black;
    .horizontal-line{
      width: 100%;
      border-bottom: 5px solid black;
    }
    .bike-specs{
      margin-top: 5px;
    }
    .desc {
      margin: 10px;
      height: 160px;
      border: 2px dotted black;
      > p {
        padding-left: 5px;
        font-size: 0.5rem;
        text-align: left;
      }
    }
    .work-done {
      padding-right: 0;
    }
    .new-parts {
      padding-left: 0;
    }
  }
}

