@page {
  margin: 0cm;
}
.print-labels{
  h2 {
    font-size: 24px;
  }
  .print-label{
    page-break-inside: avoid;
    margin: 1px;
    border: 5px solid black;
    height: 520px;
    text-align: center;
    .horizontal-line{
      width: 100%;
      border-bottom: 5px solid black;
    }
    .bike-specs{
      margin-top: 5px;
    }
    .desc {
      margin: 10px;
      height: 200px;
      border: 2px dotted black;
      > p {
        padding-left: 5px;
        font-size: 0.75rem;
        text-align: left;
      }
    }
    .work-done {
      padding-right: 0;
    }
    .new-parts {
      padding-left: 0;
    }
  }

}

.col-xs-6.sale-label {
  padding: 1px;
}

.container.print-labels {
  margin-top: -50px;
  width: 100%;
  padding: 0;
}
