.print-labels{
  h2 {
    font-size: 24px;
  }
  .print-label{
    page-break-inside: avoid;
    margin: 10px;
    border: 5px solid black;
    height: 400px;
    text-align: center;
    .horizontal-line{
      width: 100%;
      border-bottom: 5px solid black;
    }
    .bike-specs{
      margin-top: 5px;
    }
    .desc {
      margin: 10px;
      height: 200px;
      border: 2px dotted black;
    }
  }

}
