<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= content_for?(:title) ? yield(:title) : "Bikes & Clients" %></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
