<nav class="navbar navbar-expand-lg navbar-light bg-light d-print-none">
  <div class="container-fluid">
    <%= link_to "Recyclery Bikes n' Clients", root_path, :class=>"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <%= form_tag(search_bikes_path, method: "get", class: "d-flex") do %>
        <%= text_field_tag :log_number, "", class: "form-control", placeholder: "(log number)" %>
        <%= submit_tag("Search", class: "btn btn-default") %>
      <% end %>
        <%= if current_user
              link_to "Sign Out", destroy_user_session_path, method: :delete
            else
              link_to "Sign In", new_user_session_path
        end %>
    </div>
  </div>
</nav>
